# Base de datos SQLite
db.sqlite3

# Archivos de caché y configuraciones locales
__pycache__/
*.pyc
*.pyo

# Archivos de entorno (variables sensibles)
.env

**/migrations/*.py
!**/migrations/__init__.py