{% extends 'base_public.html' %}{% load static %}
{% block content %}

<section class="hero">
    <img src="{{ about_me.banner.url }}" alt="Beauty salon background" class="hero-bg">
    <div class="hero-content">
        <h1 >About Me</h1>
        <p>Juliana lozano</p>
    </div>
</section>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-4">
            <p class="">Pinky Beauty Bar</p>
            <h1 class="text-pink border-top-0 border-end-0 border-start-0 gold-border-thin mb-4" >Hi, I'm Juliana Lozano</h1>
            <p class="mb-4">{{ about_me.description }}</p>
        </div>

        <div class="col-md-4">
            <div class="d-flex justify-content-center ">
                <div class="image-container">
                    <img src="{{ about_me.image1.url }}" alt="About Me Image 1" style="width: 250px; height: 400px; object-fit: cover;border-radius: 40%;  border: 5px solid #A99B6F; "  >
                </div>
            </div>
        </div>

        <div class="col-md-4 d-flex justify-content-center align-items-center m-0 p-0">
            <ul class="list-group list-group-flush mb-5">
                {% for value in values %}
                <li class="list-group-item d-flex align-items-center position-relative gc" >
                    <i class="bi bi-flower1 me-5 fs-4 gold-color position-absolute start-0 ms-2"></i>
                    <div class="w-100 text-center mx-4">
                        <h5 id="preview-values-tittle-{{ value.id }}" class="mb-1">{{ value.tittle }}</h5>
                        <p class="mb-0 text-muted" id="preview-values-description-{{ value.id }}">{{ value.description }}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="container ">
    <div class="text-center mt-5">
        <h1 class="text-pink ">Certificates</h1>
        <p class="">
            I offer high-quality aesthetic services, including nails, waxing, facials, and more. Using the best products and certified techniques, I ensure professional and safe results.
        </p>
    </div>

    <div class="row row-cols-1 row-cols-md-2 row-cols-md-3 g-4 text-center align-items-center">
        {% for certificate in certificates %}
            <div class="col d-flex flex-column align-items-center">
                <i class="bi bi-award-fill certificate-icon  mb-3"></i>
                <h3 class="mb-1">{{ certificate.tittle }}</h3>
                <p class="text-center mb-0">{{ certificate.description }}</p>
            </div>
        {% endfor %}
    </div>
</div>

<section class="circulo-carousel">

    <div class="text-center mt-5 mb-5">
        <h1 class="text-pink ">Services</h1>
        <p class="">
            At Pinky Beauty Bar, I have a wide variety of services, all with a high quality of certified service.
        </p>
    </div>

    <div class="owl-carousel">
        {% for product in products_info %}
        <div class="circulo-item">
            <div class="circulo-imagen">
                <img src="{{ product.image1.url }}" alt="productImg">
            </div>
            <div class="circulo-texto">
                <h5 class="mb-1">{{ product.tittle }}</h5>
                <p class="text-muted mb-1">{{ product.short_subtittle }}</p>
                <a class="btn btn-sm btn-book-categories-pnk rounded-pill" href="{%url 'Product' product.id %}">Learn More</a>
            </div>
        </div>
        {% endfor %}
    </div>

</section>
<div class="bg-softpink border-section">
    <div class="container">
        <div class="row my-5 g-3">
            <div class="col-md-6 text-center">
                <h1 class="text-pink">The best aesthetic service in town</h1>
                <p class="">
                    {{ about_me.competence }}
                </p>
                <div class="row">
                    <div class="col-6">
                        <h1 class="">Mission</h1>
                        <p>{{ about_me.about_me_mission }}</p>
                    </div>
                    <div class="col-6">
                        <h1 class="">Vision</h1>
                        <p>{{ about_me.about_me_vision }}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center align-items-center">
                <img src="{{ about_me.image2.url }}" class="img-fluid rounded-5 gc" alt="About Me Image 2" style="height: 400px; width: auto; object-fit: cover">
            </div>
        </div>

    </div>
</div>

<div class="text-center mt-5 ">
    <h1 class="text-pink">Thank You!</h1>
    <p class="">
        See you soon at Pinky Beauty Bar!
    </p>
</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<script>
$(document).ready(function(){
    $('.owl-carousel').owlCarousel({
        loop: true,
        center: true,
        margin: 30,
        nav: true,
        responsive: {
            0: { items: 1 },
            576: { items: 2 },
            768: { items: 3 },
            992: { items: 4 }
        }
    });
});
</script>

{% endblock %}
