{% extends 'base_public.html' %}{% load static %}
{% block content %}

<section class="hero">
    <img src="{{ service.banner.url }}" alt="Beauty salon background" class="hero-bg">
    <div class="hero-content">
        <h1>Services</h1>
        <p>Pinky Beauty Bar</p>
    </div>
</section>

<div class="container ">
    <div class="text-center mt-5">
        <h1 class="text-pink ">Where Beauty Begins</h1>
        <p class="">
            Here, you will find only high-quality, certified products carefully selected to ensure safety, effectiveness, and the best results in every service.
        </p>
    </div>

    <div class="row justify-content-center mb-5">
        <div class="col-md-4  mt-4">
            <div class="card shadow-sm bg-transparent gold-border-double p-3">
                <form method="GET" action="{% url 'Catalog' %}">
                    <h5 class="text-center"><label for="category" class="form-label">Filter by Category</label></h5>
                    <select name="category" id="category" class="form-select bg-transparent" onchange="this.form.submit()">
                        <option class="bg-transparent" value="">All Categories</option>
                        {% for category in categories %}
                            <option class="bg-transparent" value="{{ category.id }}" {% if category.id|slugify == selected_category %} selected{% endif %}>
                                {{ category.name }}
                            </option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="container p-5  gold-border-double rounded">
    <div class="row g-4 d-flex justify-content-center align-items-stretch">
        {% for product in products %}
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="card text-center shadow p-2 gold-border-thin bg-softpink h-100">
                <img src="{{ product.image1.url }}" class="card-img-top p-2" alt="Product Img">
                <div class="card-body">
                    <h5 class="fw-bold">{{ product.tittle }}</h5>
                        <p class="card-text border-start-0 border-top-0 border-end-0 gold-border-thin p-1">{{ product.short_subtittle }}</p>
                            <div class="row mb-3 ">
                                <div class="col-6 border-start-0 border-top-0 border-bottom-0 gold-border-thin ">
                                    <span>Time: {{ product.duration }} min</span>
                                </div>
                                <div class="col-6">
                                    <span>Price: {{ product.price }}$</span>
                                </div>
                            </div>
                            <a class="btn btn-book-categories-pnk rounded-pill" href="{% url 'Product' product.id %}">Learn More</a>

                </div>
            </div>
        </div>
        {% empty %}
            <p>No products.</p>

        {% endfor %}
    </div>
  </div>




{% endblock %}
