{% extends 'base_public.html' %}{% load static %}
{% block content %}

<div class="container">

    <div class="row mt-5">
            <div class="col-md-3 mt-5">

                <div class=" text-pink mb-5 mt-5">
                    <p class=" text-dark">Book your Appointment</p>
                    <h1 class="">Get in Touch</h1>
                </div>

                <div class="text-center mb-5 border-bottom">
                    <h3 class="">Contact</h3>
                    <h5 class="">+00 000 0000 0000</h5>
                </div>
                <div class="text-center mb-5">
                    <h3 class="">Address</h3>
                    <h5 class="">1060 Plaza Dr kissimmee fl 34743</h5>
                </div>

            </div>
            <div class="col-md-9 mt-5">
                <div class="mt-5" id="map" style="height: 400px; width: 100%; z-index: 0"></div>
            </div>
    </div>
</div>

{% endblock %}
