{% extends 'base_public.html' %}{% load static %}
{% block content %}

<div class="container">

    <div class="row mt-5">
            <div class="col-md-3 mt-5">

                <div class=" text-pink mb-5 mt-5 text-center">
                    <p class=" text-dark">Book your Appointment</p>
                    <h2 class="">Get in Touch</h2>
                </div>

                <div class="text-center mb-5 gold-border-thin border-top-0 border-end-0 border-start-0 ">
                    <h4 class="">Contact</h4>
                    <p class="">+00 000 0000 0000</p>
                </div>
                <div class="text-center mb-5 ">
                    <h4 class="">Address</h4>
                    <p class="">1060 Plaza Dr kissimmee fl 34743</p>
                </div>

            </div>
            <div class="col-md-9 mt-5">
                <div class="mt-5" id="map" style="height: 400px; width: 100%; z-index: 0"></div>
            </div>
    </div>
</div>

{% endblock %}
