{% extends 'base_dashboard.html' %}

{% block content %}

<div class="container pt-5 mt-5">
    <h2 class="text-center p-5">Create a New Category</h2>
    <div class="card shadow-lg p-4 rounded-4">
        <div class="card-body p-5">
            <form method="post">
                {% csrf_token %}
                    <div class="mb-3">
                        {{ form.name.label_tag }}
                        {{ form.name }}
                    </div>
                    <button type="submit" class="btn btn-book-categories-2">Create</button>
                <a href="{% url 'list_category' %}" class="btn btn-book-categories">Go Back</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}