{% extends 'base_dashboard.html' %} {% load static %}
{% block content %}


<div class="container my-5 pt-5 ">
    <h2 class="text-center p-5">Pinky Beauty Bar Info</h2>
    <div class="card shadow-lg border-0 rounded-4">
        <div class="card-body p-5">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="mb-3">
                    <label class="form-label text-secondary">Address</label>
                    {{ form.address }}
                </div>

                <div class="mb-3">
                    <label class="form-label text-secondary">Country Code</label>
                    {{ form.country_code }}
                </div>

                <div class="mb-3">
                    <label class="form-label text-secondary">Phone Number</label>
                    {{ form.phone_number }}
                </div>

                <div class="mb-3">
                    <label class="form-label text-secondary">Logo</label>
                    {{ form.logo }}
                </div>
                <div class="mb-3">
                    <label class="form-label text-secondary">Instagram</label>
                    {{ form.instagram }}
                </div>
                <div class="mb-3">
                    <label class="form-label text-secondary">Address Link</label>
                    {{ form.address_url }}
                </div>
                <div class="text-center ">
                    <button type="submit" class="btn w-50 btn-book-categories-2">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Preview-->
<div class="bg-dark text-secondary-emphasis p-3 text-center ">
    <h2 class="text-light">Preview</h2>
    <p class="text-light">Observe in real time how customers will view your website</p>
</div>
<div class="container mt-5 p-5">

    <div class="row justify-content-center">
            <div class="col-lg-5">

                <div class=" text-pink mb-5 mt-5 ">
                    <h1 class="text-center">Get in Touch</h1>
                </div>

                <div class="text-center mb-3 pb-4 gold-border-thin border-top-0 border-end-0 border-start-0">
                    <h3>Contact Me</h3>

                    <h6>Text Messages</h6>
                    <a class="pretty-link" href="#">
                        +{{ pinky_beauty_bar_info.country_code }} {{ pinky_beauty_bar_info.phone_number }}
                    </a>

                    <h6>Instagram DM</h6>
                    <a class="pretty-link" href="#" >pinky.beauty.bar</a>
                </div>

                <div class="text-center mb-5">
                    <h3 class="">Address</h3>
                    <a class="pretty-link" href="#" target="_blank" >
                        {{pinky_beauty_bar_info.address}} ( Aris spa )</a>
                </div>

            </div>

            <div class="col-lg-7 d-flex justify-content-center">
                <div class="ratio ratio-16x9 gold-border-double">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3512.1464931512164!2d-81.3380936!3d28.324168099999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88dd89bd3638ac65%3A0xdb05ffd5d1b4b0dd!2sAris%20Spa%20%7C%20Kissimmee%20Spa!5e0!3m2!1ses-419!2sco!4v1738822094932!5m2!1ses-419!2sco"
                        style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </div>
    </div>
</div>

{% endblock %}
